# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# If using venv
venv/
env/

# Logs
logs/*

# Terraform
.terraform/
*.tfvars.json
.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup


# Environment/Sensitive
.env

# OS / Editor
.DS_Store
Thumbs.db
