# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# If using venv
venv/
env/

# Logs
logs/terraform.log
logs/redeploy.log

# Terraform
.terraform/
*.tfvars.json
.terraform.lock.hcl


# Environment/Sensitive
.env

# OS / Editor
.DS_Store
Thumbs.db
